.site-layout .site-layout-background {
  background: #fff;
  width: 100%;
}
.ant-layout.ant-layout-has-sider {
  display: flex;
  flex-direction: column;
}
.main.ant-layout-content {
  width: 80%;
}
.main-container {
  display: flex;
  flex-direction: row;
}
.products-container {
  padding: 16px 16px;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border: 1px solid #e8eae8;
  align-content: flex-start;
}
